<script>
import { debounce } from "debounce";
const API_URL = `https://cfp.mathdoc.fr/api/libraries/41/available_periodes/`;

export default {
  data() {
    return {
      titles: [],
      searchQuery: "",
      loading: false,
      error: "",
    };
  },

  methods: {
    fetchData: debounce(async function () {
      this.loading = true;
      this.error = "";
      const url = `${API_URL}`;
      if (this.searchQuery) {
        try {
          this.titles = await (
            await fetch(url + "?search=" + this.searchQuery)
          ).json();
        } catch (error) {
          this.error =
            "Oops ! Impossible de retrouver cette liste de licence. " + error;
        }
      }
      this.loading = false;
    }, 500),
    last_item(periode) {
      return periode.corpusitem_set[periode.corpusitem_set.length - 1];
    },
  },
};
</script>

<template>
  <div class="container py-4 px-3 mx-auto">
    <h1>Portal API Test</h1>
    <form id="search">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="searchfield" class="col-form-label">Search</label>
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="searchfield"
            class="form-control"
            v-model="searchQuery"
            @input="fetchData"
            @keydown.enter.prevent
          />
        </div>
      </div>
    </form>
    <div v-if="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    <div v-if="loading" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <ul v-else-if="titles.length" class="list-group">
      <li class="list-group-item" v-for="(title, index) in titles" :key="index">
        <div class="row">
          <div class="col-4">
            {{ title.titre }}
          </div>
          <div class="col-8">
            <div
              class="row"
              v-for="(periode, periode_index) in title.periodes"
              :key="periode_index"
            >
              <div class="col-2">
                <span v-if="periode.open_access" class="badge text-bg-light">
                  {{ periode.debut }} - {{ periode.fin }}
                </span>
                <span v-else class="badge text-bg-light d-inline">
                  {{ last_item(periode).start }} -
                  {{ last_item(periode).end }}
                </span>
              </div>
              <div class="col">
                <a :href="periode.url" target="_blank" class="link-primary">{{
                  periode.editor
                }}</a>
                <div v-if="periode.open_access" class="d-inline">
                  <img
                    src="./assets/img/logo_open_access.png"
                    alt="Open Access"
                    class="px-2"
                  />
                  <span class="badge text-bg-secondary">Open Access</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <p v-else>No matches found.</p>
  </div>
</template>

<style scoped></style>
